<!-- Formulario para agregar productos -->
<form id="productForm">
    <input type="text" id="title" placeholder="Nombre" required />
    <input type="number" id="price" placeholder="Precio" required />
    <input type="text" id="description" placeholder="Descripcion" required />
    <input type="text" id="code" placeholder="Codigo" required />
    <input type="bool" id="status" placeholder="Estado" required />
    <input type="number" id="stock" placeholder="Stock" required />
    <input type="text" id="thumbnails" placeholder="Url de la Imagen" required />
    <button type="submit">Agregar Producto</button>
</form>

<!-- Lista de productos -->
<ul id="productList">
    {{#each products}}
    <li>
        <strong>{{this.title}}</strong> - ${{this.price}} - ${{this.descripcion}}
        <button onclick="deleteProduct('{{this.id}}')">Eliminar</button>
    </li>
    {{/each}}
</ul>